.reposSearchBar {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.reposSearchBar .searchInput {
    border-radius: 6px;
    border: 1px solid #d0d7de;
    box-shadow: 0 0 0 1px rgba(208, 215, 222, 0.2) inset;
    line-height: 20px;
    font-size: 14px;
    color: #24292f;
    padding: 5px 12px;
}

.reposSearchBar .selectInput>div {
    color: #24292f !important;
    background-color: #f6f8fa !important;
    box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04);
    border: 1px solid rgba(27, 31, 36, 0.15) !important;
    border-radius: 6px !important;
    padding: 5px 16px;
    font-weight: 500;
}

.repoListPageButton {
    min-width: 100px;
    font-weight: 600;
    color: rgba(9, 105, 218) !important;
    background-color: #f6f8fa !important;
    border: 1px solid rgba(27, 31, 36, 0.15) !important;
    box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04) !important;
}

.repoListPageButton:hover {
    color: rgb(5, 96, 201) !important;
    background-color: #f0f1f3 !important;
    border: 1px solid rgba(27, 31, 36, 0.25) !important;
    box-shadow: 0 1px 0 rgba(27, 31, 36, 0.1) !important;
}

.repoListPageButton[disabled] {
    font-weight: 400;
    color: rgb(120, 159, 202) !important;
    background-color: #f4f4f4 !important;
    border: 1px solid rgba(27, 31, 36, 0.05) !important;
    box-shadow: 0 1px 0 rgba(27, 31, 36, 0.01) !important;
}

.repoListPageButton:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.repoListPageButton:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}